.thread {
  display: flex;
  flex-direction: column;
  gap: var(--sp-xs);
  padding: var(--sp-s);
  align-items: flex-end;
  justify-content: flex-start;
  overflow-y: scroll;
  height: var(--height-thread);
}
